<div>
    <h3>Actor's List</h3>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Birth Year</th>
        <th>Select!</th>
      </tr>
      <tr *ngFor="let item of actorsDB">
        <td>{{item.name}}</td>
        <td>{{item.bYear}}</td>
        <td><button type="submit" class="btn btn-primary" (click)="onSelectActor(item)">Select</button></td>
      </tr>
    </table>
    <hr>

    <h3>Movie List</h3>
    <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Select!</th>
        </tr>
        <tr *ngFor="let item of moviesDB">
          <td>{{item.title}}</td>
          <td>{{item.year}}</td>
          <td><button type="submit" class="btn btn-primary" (click)="onSelectMovie(item)">Select</button></td>
        </tr>
    </table>
    <span class="badge badge-primary" >primary</span>
    <br>
    <span class="badge badge-primary">primary</span>
    <button type="submit" class="btn btn-primary" (click)="onActorInMovie()"></button>
</div>